.overviewBtn, .buyBtn, .btn {
  border: 2px solid #000;
  padding: 0.3rem 0.8rem;
  font-family: 'Fanwood Text', serif;
  font-size: 0.9rem;
  border-radius: 5px;
}

.overviewBtn {
  background-color: #fff;
  color: #000;
}

.buyBtn {
  background-color: #000;
  color: #fff;
  margin-left: 0.5rem;
}

.checkout {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2rem;
}